{% extends 'base.html' %}

{% block content %}
<nav>
    <h1>
        <a href="{% url 'board:home' %}">HOBBYST</a>
    </h1>
    <a href="/account/logout/">logout</a>
</nav>
<div id="post-write">
    <h1>Post Write</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_images">이미지</label>
            <input id="id_images" name="images" type="file" multiple>
        </div>
        {{ form.as_p }}
        <button type="submit">게시</button>
    </form>
</div>
{% endblock %}